.DS_Store
**/.DS_Store
**/node_modules
**/bower_components
**/tmp
**/temp
**/dist
**/build
**/coverage
**/logs
**/npm-debug.log
**/yarn-error.log

portfolio/artemis/resources/edits
portfolio/beauticator/resources/edits
portfolio/cinemated/resources/edits
portfolio/gutenberg/resources/edits
portfolio/klara/resources/edits
portfolio/yegdoo/resources/edits
