.DS_Store
**/.DS_Store
**/node_modules
**/bower_components
**/tmp
**/temp
**/dist
**/build
**/coverage
**/logs
**/npm-debug.log
**/yarn-error.log

portfolio/artemis/edits
portfolio/beauticator/edits
portfolio/cinemated/edits
portfolio/gutenberg/edits
portfolio/klara/edits
portfolio/yegdoo/edits
portfolio/booksmart/edits
portfolio/creative-storyboard/edits

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock
vendor/
PLANS.md
img/post/edits/
img/hero/edits/
ai_prompts/
