<div id="blog-preview">
  <div class="container">
    <div class="section-title text-center">
      <h2>Engineering Insights</h2>
      <hr>
      <p class="section-description">Thoughts on software engineering, AI, and building great products</p>
    </div>
    
    <div class="row blog-preview-grid">
      {% assign latest_posts = site.posts | limit: 3 %}
      {% for post in latest_posts %}
      <div class="col-md-4 col-sm-6">
        <div class="blog-preview-card">
          {% if post.image %}
          <div class="blog-preview-image" style="background-image: url('{{ post.image | relative_url }}');">
            <a href="{{ post.url | relative_url }}" class="blog-preview-overlay">
              <span class="read-post-icon"><i class="fa fa-arrow-right"></i></span>
            </a>
          </div>
          {% endif %}
          <div class="blog-preview-content">
            <div class="blog-preview-date">
              <i class="fa fa-calendar"></i> {{ post.date | date: "%B %d, %Y" }}
            </div>
            <h3 class="blog-preview-title">
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <p class="blog-preview-excerpt">{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
            <a href="{{ post.url | relative_url }}" class="blog-preview-link">
              Read More <i class="fa fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    <div class="text-center" style="margin-top: 40px;">
      <a href="{{ '/blog/' | relative_url }}" class="btn btn-primary btn-lg">
        More <i class="fa fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
