<footer id="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <!-- About Section -->
        <div class="col-md-4 col-sm-6 footer-about">
          <h4>{{ site.data.site.name }}</h4>
          <p>Experienced software engineer with expertise in AI, machine learning, and full-stack development. Building innovative solutions for over 19 years.</p>
        </div>
        
        <!-- Quick Links -->
        <div class="col-md-4 col-sm-6 footer-links">
          <h4>Quick Links</h4>
          <ul>
            {% for item in site.data.site.navigation %}
            <li>
              {% if item.external %}
              <a href="{{ item.url }}"><i class="fa fa-angle-right"></i> {{ item.name }}</a>
              {% else %}
              <a href="{{ item.url }}" class="page-scroll"><i class="fa fa-angle-right"></i> {{ item.name }}</a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
        
        <!-- Social & Contact -->
        <div class="col-md-4 col-sm-12 footer-social">
          <h4>Connect With Me</h4>
          <div class="social-icons">
            {% for social in site.data.social %}
            <a href="{{ social.url }}" target="_blank" rel="noopener noreferrer" title="{{ social.name }}">
              <i class="fa {{ social.icon }}"></i>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      
      <!-- Bottom Bar -->
      <div class="row">
        <div class="col-md-12">
          <div class="footer-bottom">
            <p>&copy; {{ 'now' | date: "%Y" }} {{ site.data.site.name }}. All rights reserved.</p>
            <p class="footer-credits">
              {{ site.data.site.footer.credits }} | {{ site.data.site.footer.nasa_credit }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
