<div class="portfolio-modal" id="portfolio-modal" role="dialog" aria-modal="true" aria-hidden="true">
  <div class="portfolio-modal__overlay" data-modal-close></div>
  <div class="portfolio-modal__dialog" role="document">
    <button type="button" class="portfolio-modal__close" data-modal-close aria-label="Close gallery">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="portfolio-modal__body">
      <div class="portfolio-modal__content">
        <div class="portfolio-modal__media">
          <div class="portfolio-modal__carousel" data-portfolio-carousel>
            <button type="button" class="portfolio-modal__nav portfolio-modal__nav--prev" data-carousel-prev aria-label="Previous image">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </button>
            <div class="portfolio-modal__viewport">
              <ul class="portfolio-modal__track"></ul>
            </div>
            <button type="button" class="portfolio-modal__nav portfolio-modal__nav--next" data-carousel-next aria-label="Next image">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </button>
          </div>
          <div class="portfolio-modal__pagination" aria-hidden="true"></div>
        </div>
        <div class="portfolio-modal__details">
          <span class="portfolio-pill portfolio-modal__tech"></span>
          <h3 class="portfolio-modal__title"></h3>
          <p class="portfolio-modal__subtitle"></p>
          <div class="portfolio-modal__description"></div>
          <a class="portfolio-screencast" href="#" target="_blank" rel="noopener" data-screencast-link>App Screencast</a>
        </div>
      </div>
    </div>
  </div>
</div>
