<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.1.11.1.js"></script> 
<script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.js"></script> 
<script>
  window.refresh = window.refresh || function () {};
</script>
<script type="text/javascript" src="{{ site.baseurl }}/js/SmoothScroll.js"></script> 
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.isotope.js"></script> 
<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/portfolio.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/gallery-modal.js"></script>
