<div id="technology-stacks" style="margin-top: 50px;">
  <div class="container">
    <div class="section-title center text-center">
      <h2>Technology Stacks</h2>
      <hr>
    </div>
    <div class="row tech-stack-container">
      <div class="col-md-4">
        {% for stack in site.data.tech_stacks.column1 %}
        <h4>{{ stack.title }}</h4>
        <ul>
          {% for item in stack.items %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
    
      <div class="col-md-4">
        {% for stack in site.data.tech_stacks.column2 %}
        <h4>{{ stack.title }}</h4>
        <ul>
          {% for item in stack.items %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
    
      <div class="col-md-4">
        {% for stack in site.data.tech_stacks.column3 %}
        <h4>{{ stack.title }}</h4>
        <ul>
          {% for item in stack.items %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
